<div class="summary">
  <div class="title">World Report Summary</div>
  <div class="data-blocks-group">
    <div class="data-blocks">
      <div class="data-block-title">Total Confirmed Cases</div>
      <div class="data-block-value">{{ gloabalData.TotalConfirmed}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">Total Deaths</div>
      <div class="data-block-value">{{ gloabalData.TotalDeaths}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">Total Recovered</div>
      <div class="data-block-value">{{ gloabalData.TotalRecovered}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">New Confirmed Cases</div>
      <div class="data-block-value">{{ gloabalData.NewConfirmed}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">New Recovered Cases</div>
      <div class="data-block-value">{{ gloabalData.NewRecovered}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">New Death Cases</div>
      <div class="data-block-value">{{ gloabalData.NewDeaths}}</div>
    </div>

  </div>
</div>
